<div id="container">
  <div class="row">
      <div class="col-sm" id="sonas">
        </div>
        <div class="col-sm" id="mygtukas">
          <i class="fa fa-home" aria-hidden="true"></i>     Pagrindinis langas
        </div>
        <div class="col-sm" id="mygtukas">
          <i class="fa fa-fire" aria-hidden="true"></i>  Stovyklos
        </div>
        <!-- Foreach statmentas gauti stovyklos tipams-->
        <div class="col-sm" id="mygtukas">
          <i class="fa fa-user"></i>  Mano paskyra
        </div>
        <div class="col-sm" id="mygtukas">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Prisijungti
        </div>
        <div class="col-sm" id="mygtukas">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Atsijungti
        </div>
        <div class="col-sm" id="sonas">
          </div>
  </div>
</div>