<div class="main vertical-center">
  <div class="container" id="Screen">
    <div id="Title">
      <h1>Prisijungimo langas</h1>
    </div>
    <div id="Bendras">
      <div class="row">
        <span>Prisijungimo vardas</span>
        <br>
        <input id="Prisijungimas" type="text">
      </div>
      <div class="row" style="padding-top: 10px;padding-bottom: 15px">
        <span>Slaptažodis</span>
        <br>
        <input id="slaptazodis" type="password">
      </div>
      <div id="Mygtukai">
        <span id="Prisijungti">Prisijungti</span>
        <span id="Registracija">Registruotis</span>
      </div>
      <div class="row align-items-end"  id="Registruotis">
        <div class="col-sm" id="Mygtukas">
          <span id="Uzmirstas">Priminti slaptažodį</span>
        </div>
      </div>
    </div>
  </div>
</div>